.filler{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
}
.nodisplay{
  display:none;
}
.map-cover{
  background:rgba(88,150,250,0.1);
}
.clock{
  max-width:300px;
  max-height:300px;
  width:auto;
  height:auto;
}
.semipart{
  padding-top:7%;padding-bottom:7%;
}
.semipart img{
  padding-bottom:3%;
}
.fbimg{
  max-width:50px;
  max-height:50px;
  width:auto;
  height:auto;
  cursor:pointer;
}
.fbimg:hover{
  opacity: 0.9;
  filter: alpha(opacity=90); /* For IE8 and earlier */
}
.fbpopup{
  display:none;
  box-shadow: 0 0 10px 0px rgba(50,50,50,0.5);
  width:240px;
  left:50%;
  margin-left:-125px;
  padding:5px;
  z-index: 1;

  position: absolute;
  color: #ffffff;
  background: #223344;
  height: 30px;
  line-height: 30px;
  border-radius: 6px;
}
.fbpopup:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-bottom: 8px solid #223344;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
.show{
  display:block;
}

.mainstrip{
  text-align:center;
  overflow:hidden;
  position:relative;
  background-position:center center;
  background-size:cover;
  background-color:#eee;
  -ms-behavior: url(/static/background-size-polyfill/backgroundsize.min.htc);
  min-height:600px;

  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
@media (max-width:800px) {
  .mainstrip{
    min-height:450px;
  }
}
.mainstrip.backfirst{
  background-image:url(/static/img/archer.jpg);
  position:fixed;
  z-index:-1;
  top:0;
  left:0;
  right:0;
}
.mainstrip.first{
  background:transparent;
}
.mainstrip.second{
  /* background-image:url(/static/img/ima.png); */
  color:black;
}
.mainstrip.third{
}
.mainstrip.fourth{
  color:black;
}

.mainstrip .part{
  margin-top:20%;
}
.mainstrip .part h1{
  font-variant: small-caps;
  font-size:4em;
  letter-spacing:3px;
  font-weight:bold;
  margin-top:50px;
  font-family: “Century Gothic”, CenturyGothic, AppleGothic, sans-serif;
}
.mainstrip .part .centered{
  width:320px;
  text-align:left;
  margin-left:auto;margin-right:auto;
}
